body {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} 
* {
  box-sizing: border-box;
  margin: auto 0;
  padding: 0;
}

.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.justify-between {
  justify-content: space-between;
}
.justify-start {
  justify-content: flex-start;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.borde {
  border: 1px solid;